<div class="jumbotron">
    <div class="main-heading">
      <div class="center">
        <div>
          <h1>SCENT OF AMBER</h1>
        </div>
        <div class="cover-art">
          <%= image_tag "soa-faded-grey-circle-icon.png", class: "img-fluid"%>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag "OGbanner.png", class: "img-fluid" %>
    </div>
</div>
