<nav class="navbar bg-light">
  <div class="container">
    <div>
      <a class="navbar-brand" href="#">
        <%= image_tag "__SOA_Logo_clean.png", alt: "SOAlogo", height: "50", width:"50" %>
      </a>
    </div>
    <div>
      <a href="">New Merch</a>
    </div>
  </div>
</nav>
