// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
  background-color: black;
}
.text {
  font-family: 'Lato', sans-serif;
  color: white;
}

.font-weight-normal {
  font-weight: normal;
}

.bolder {
  font-weight: bolder;
}

 .main-heading {
  color: whitesmoke;
  display: flex;
  margin: 0 auto;
  position: absolute;
   right: 3.2%;
   top: 1%;

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 200;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 3rem;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}

.sub-heading {
  h2 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
  }

  @media only screen and (max-width: 600px) {
    h2 {
      padding-bottom: 1rem;
      padding-top: 1rem;
      font-size: 1.5rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    h2 {
      padding-bottom: 1rem;
      padding-top: 1rem;
      font-size: 2rem;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h2 {
      padding-bottom: 1rem;
      padding-top: 1.5rem;
      font-size: 2.5rem;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h2 {
      padding-bottom: 2rem;
      padding-top: 2rem;
      font-size: 3rem;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h2 {
      padding-bottom: 3rem;
      padding-top: 2rem;
      font-size: 4rem;
    }
  }
}


.social {
  background-color: black;

  i {
    color: whitesmoke;
    padding: 16px;
    transition: 0.5s;
    font-size: 3.5em;
  }

  i:hover {
    text-shadow: 0 0 15px white;
  }
 /* .svg-container {
    width: 300px;
    height: 300px;
    resize: both;
    overflow: auto;

    svg {
      width: 95%;
      height: 95%;
    }
  }*/
    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    i {
      padding: 0 13px;
      font-size: 2em;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    i {
      padding: 0 25px;
      font-size: 2.5em;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    i {
      padding: 0 30px;
      font-size: 3em;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    i {
      padding: 0 40px;
      font-size: 3.5em;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    i {
      padding: 0 40px;
      font-size: 3.5em;
    }
  }
}

.line-break {
  // fix up media queries fro line break
  padding-top: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  width: 90%;
  margin: 0 auto;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    padding-top: 0;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    padding-top: 0;
  }
}

#shows {
  padding-bottom: 2rem;
  .show-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}

#videos-section {
  background-color: black;

  .iframe-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

#bio {
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;

  .link {
    transition: 0.3s;
  }

  .link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    padding-bottom: 3rem;
  }

  .contact-text {
    color: white;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
  }

  @media only screen and (max-width: 600px) {
    p {
      font-size: 1em;
    }
    .contact-text {
      font-size: 1.5rem;
    }
  }
}

#assets {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(231, 231, 231, 1);

  .text {
    color: black;
    font-weight: bolder;
  }

  .icon {
    position: relative;
    align-self: center;
  }
  .logo {
    padding-top: 0;
    position: relative;
    align-self: center;
  }
  .promo-photo {
    display: flex;
    justify-content: center;
  }
}

#footer {
  padding: 1rem 0;
}

